<div class="container" style="width:60%">
    <h1>Shop</h1>
    <hr>
    <div class="row">
        <div class="col-lg-4">

            <img src="assets/images/golden-1.jpg" width="100%" height="200px">

            <p class="text-center">
                <h3>Gold: 1000</h3>
            </p>
            <p class="text-center">
               <h5>Price: 1.00lv.</h5>
            </p>
            <p>
                <button class="btn btn-success" ng-click="vm.buyGold(1)">Buy Gold</button>
            </p>
        </div>
        <div class="col-lg-4">

            <img src="assets/images/golden-2.jpg" width="100%" height="200px">

            <p class="text-center">
                <h3>Gold: 3000</h3>
            </p>
            <p class="text-center">
                <h5>Price: 3.00lv.</h5>
            </p>
            <p>
                <button class="btn btn-success" ng-click="vm.buyGold(2)">Buy Gold</button>
            </p>
        </div>
        <div class="col-lg-4">

            <img src="assets/images/golden-3.jpg" width="100%" height="200px">

            <p class="text-center">
                <h3>Gold: 10000</h3>
            </p>
            <p class="text-center">
                <h5>Price: 10.00lv.</h5>
            </p>
            <p>
                <button class="btn btn-success" ng-click="vm.buyGold(3)">Buy Gold</button>
            </p>
        </div>
    </div>
</div>
